@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
html {
    margin: 0px 0px;
    padding: 0px 0px;

}

.body {
    margin: 0px 0px;
    padding: 0px 0px;
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}

.container {
  max-width: 100%;
  max-width: 100%;
}

.img-container {
  width: 55%;
  height: 90;
  background-color: rgba(29,161,242,1.00);
}


.img-container img {
  width: 10%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 35%;
  padding-bottom: 38%;
}

.info-container {
  padding: 16px 16px;
}

.data {
  padding: 16px 16px;
}











/* Bottom Menu */

.bottom-menu a {
  color: rgb(110, 118, 125);
  text-decoration: none;
  margin: 4px 0px;
  padding-right: 16px;
  font-size: 13px;
}

.bottom-menu a:hover {
  text-decoration: underline;
}

.bottom-menu p {
  display: inline;
  font-style: normal;
  text-decoration: none;
  align-items: center;
  font-size: 13px;
  color: rgb(110, 118, 125);
}
