html {
  padding: 0px;
  margin: 0px;
  background-color: black;
  color: white;
}

body {
  height: 100%;
  width: 100%;
  font-size: 14px;
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6, p, i, a {
  color: white;
}

.image-container {
  float: left;
  width: 55%;
  height: 90%;
}

.image-container .image-section {
  -webkit-box-pack: center;
  text-align: center;
  justify-content: center;
  position: absolute;
  top: 170px;
  left: 0;
  width: 55%;
  padding: 32px;
  overflow: hidden;
  flex-direction: row-reverse;
}

/* First Section/ Information Section */
.info-container {
  float: right;
  padding: 16px 16px;
  width: 45%;
  height: 90%;
}

.info-container .input-box {
  padding: 0px 32px;
}

.info-container .input-box input {
  background: transparent;
}

.info-container .input-box .top-button {
  color: #1da1f2;
  background: transparent;
  border: 1px solid #1da1f2;
  border-radius: 38px;
  font-size: 13px;
  font-weight: 700;
  padding: 10px 10px;
  width: 80px;
  height: 40px;
}

.info-container .input-box .top-button:hover {
  background-color: rgb(29, 161, 242, 0.1);
}

.info-container .input-box .input {
  display: inline;
  outline: none;
  font-family: verdana;
  border-radius: 4px;
  border: .5px solid grey;
  color: white;
  width: 180px;
  height: 40px;
  margin-right: 5px;
  font-size: 13px;
}

@media only screen and (max-width: 600px) {
  .info-container .input-box {
    visibility: hidden;
  }
}

/* Second Section */
.second-section {
  padding: 20px 20px;
}

.second-section .second-image {
  width: 50px;
  height: auto;
  padding-bottom: 12px;
}

.second-section h2 {
  font-family: verdana;
  font-size: 56px;
  font-weight: 700;
  letter-spacing: -1.2px;
  line-height: 84px;
  margin-top: 48px;
  margin-bottom: 48px;
}

.second-section h5 {
  height: auto;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: -1.2px;
  font-family: verdana;
  margin-bottom: 32px;
}

.second-section button {
  display: block;
  min-width: 380px;
  min-height: 45px;
  margin-bottom: 16px;
  border-radius: 38px;
  text-align: center;
  font-weight: 700;
}

.second-section .signup {
  color: white;
  background: #1DA1F2;
  background-color: #1da1f2;
  border: 1px solid #1da1f2;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  padding: 6px 16px;
}

.second-section .login {
  color: #1DA1F2;
  background: transparent;
  border: 1px solid #1da1f2;
  color: #1da1f2;
  font-size: 14px;
  line-height: 20px;
  padding: 6px 16px;
}

.second-section .signup:hover {
  background-color: rgb(29, 161, 242, 0.9);
}

.second-section .login:hover {
  background-color: rgb(29, 161, 242, 0.1);
}

@media only screen and (max-width: 600px) {
  .second-section {
    width: 100%;
  }
}

/* Footer Section */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: grey;
  padding: 12px 16px;
  text-align: center;
  align-items: stretch;
}

@media only screen and (max-width: 600px) {
  footer {
    left: 0;
    bottom: 0;
  }
}

footer .menu a {
  color: rgb(110, 118, 125);
  font-size: 13px;
  text-decoration: none;
  margin: 4px 0px;
  padding-right: 16px;
}

footer .menu p {
  color: rgb(110, 118, 125);
  font-size: 13px;
  display: inline;
}

footer .menu a:hover {
  text-decoration: underline;
}
